//HOME -----------------------------------------

.cd-home-section{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1;
  display: flex;
  background: $primary-color;


  @include breakpoint(medium) {
    flex-direction: column;
    height: auto;
    position: relative;
  }
}

.cd-home-left{
  width: 100%;
  padding: 28px 60px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  position: relative;

  @include breakpoint(xl) {
    padding: 28px 30px;
  }

  @include breakpoint(medium) {
    align-items: flex-start;
    position: relative;
    flex-direction: column;
  }
  @include breakpoint(small) {
    padding: 60px 15px 15px;
  }

  h1{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 16px;
    font-family: $bold-font;

    @include breakpoint(small) {
      font-size: 30px;
    }
  }
  p{
    color: #fff;
    font-size: 18px;
    letter-spacing: -0.84px;
    line-height: 29px;
    margin: 0;
    font-weight: 100;

    @include breakpoint(small) {
     font-size: 18px;
      line-height: 30px;
    }
  }

  &:hover{
    .cd-home-link-content{

      h4{
        margin-left: 15px;
      }
      p{
        margin-left: 15px;

      }
      i{
        margin-left: 15px;
      }
    }
  }
}

.cd-home-left-content{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  box-sizing: border-box;

  @include breakpoint(xl) {
    padding: 30px;
  }

  @include breakpoint(medium) {
    padding: 60px 0;
    position: relative;
  }
  @include breakpoint(small) {
    padding: 0 0 60px;
  }
}

.cd-home-right{
  width: 100%;
}

.cd-home-right-content{
  padding: 28px 50px;
  box-sizing: border-box;
  height: 50%;
  display: flex;
  align-items: flex-end;
  position: relative;

  @include breakpoint(xl) {
    padding: 28px 30px;
  }
  @include breakpoint(medium) {
    padding: 60px 30px 28px;
    min-height: max-content;
    height: 47vw;
  }
  @include breakpoint(small) {
    padding: 60px 15px 15px;
    height: 50vw;
  }

  &:hover{
    .cd-home-link-content{

      h4{
        margin-left: 30px;
      }
      p{
        margin-left: 30px;

      }
      i{
        margin-left: 30px;
      }
    }
    .cd-background-overlay{
      background-color: rgba(0,0,0,0.4);
    }
  }

  .cd-home-link-content{
    p, i{
      color: white;
    }
  }

  .cd-background-overlay{
    background-color: rgba(0,0,0,0.2);
  }
}

.cd-home-link-content{
  position: relative;

  h4{
    color: white;
    font-size: 24px;
    line-height: 29px;
    margin: 10px 0 8px;
    transition: 0.3s ease-in-out;
    transition-delay: 0.05s;

    @include breakpoint(small) {
      font-size: 18px;
    }
  }
  p{
    color: #1F1F1F;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0;
    transition: 0.3s ease-in-out;

    @include breakpoint(small) {
     font-size: 11px;
    }
  }
  i{
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
  }
}

//GLOBAL ------------------------

.cd-page-section{
  padding: 44px 0;

  h2{

    @include breakpoint(small) {
      font-size: 32px;
      line-height: 42px;
    }
  }

  h3{
    margin: 0 0 18px;
  }
  h5{
    margin: 0;
  }
}

.cd-left-img{
  width: 100%;
  max-width: 410px;
  margin-right: 30px;

  @include breakpoint(medium) {
    display: none;
  }
}

.cd-right-text{
  width: 100%;
  max-width: 635px;

  @include breakpoint(medium) {
    margin: 0 auto;
  }
}

.cd-right-buttons{
  display: flex;
  align-items: center;
  margin-top: 38px;

  .cd-button{
    margin-right: 24px;
  }
}

.cd-page-content{
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul{
    font-size: 18px;
    line-height: 36px;
    padding-left: 20px;
  }

  @include breakpoint(medium) {
  }
}



//HERO ---------------------------

.cd-hero{
  position: relative;
  padding: 90px 0;
  min-height: 45vw;
  max-height: 580px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @include breakpoint(small) {
    padding: 60px 0;

  }

  h1{
    color: #FFFFFF;
    font-size: 40px;
    line-height: 58px;
    margin: 0 0 36px;
    font-family: $normal-font;
    font-weight: 600;


    @include breakpoint(tablet) {
      font-size: 36px;
      line-height: 46px;
    }

    @include breakpoint(small) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  p{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
  }
}

.cd-hero-content{
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;

  @include breakpoint(small) {
    padding-top: 0;
  }
}

.cd-hero-button{
  color: $blue;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  padding: 20px 40px;
  display: inline-block;
  transition: 0.2s ease-in-out;

  @include breakpoint(small) {
    padding: 12px 20px;
    font-size: 16px;
  }

  &:hover{
    background: $blue;
    text-decoration: none;
    color: white;
  }
}

.cd-hero-link{
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  margin-top: 25px;
  text-decoration: underline;
  display: block;
}


//EXPERT ------------------------------

.cd-expert-wrapper{
  display: flex;
}

.cd-expert-left{
  max-width: 505px;
  width: 100%;
}

.cd-expert-right{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;

  @include breakpoint(laptop) {
    display: none;
  }
}

.cd-expert-sidebar{
  position: sticky;
  top: 50px;
  margin-left: 80px;

  @include breakpoint(xl) {
    margin-left: 30px;
  }
}

.cd-expert-sidebar-content{
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  border-left: 2px solid #225477;

  p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 15px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
  }

  a{
    color: #225477;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;

    &:hover{
      color: #000;
    }

    &:last-child{
      margin: 0;
    }
  }
}

.cd-expert-sidebar-link{
  padding: 10px 20px;
  color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 22px;
  border-radius: 5px;
  background: #225477;
  display: inline-block;
  margin-top: 28px;
  transition: 0.2s ease-in-out;
  text-align: center;

  &:hover{
    background: darken($blue, 20%);
  }
}


//CONCEPT ------------------------------





//SERVICE ------------------------------

.cd-service-content{
  max-width: 505px;

  h3{
    width: max-content;

    @include breakpoint(medium) {
      max-width: 100%;
      width: auto;
    }
  }
}

.cd-service-items{

  p{
    margin: 30px 0 27px;
  }
}

.cd-service-item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;

  i{
    min-width: 24px;
    height: 24px;
    background-color: $primary-color;
    border-radius: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 9px 23px 0 0;
  }

  p{
    margin: 0;
  }
}

.cd-service-buttons{
  margin-top: 33px;

  .cd-button{
    margin-bottom: 21px;
  }
}


//ABOUT ---------------------------------------


.cd-about-section{

  .cd-page-content{
    border: none;
  }

  .cd-left-img{
    max-width: 480px;
  }

  .cd-right-text{
    max-width: 505px;
  }
}


//APPLICATION

.cd-gray-page{
  padding: 48px 0 215px;
  background: #f5f5f5;
}

.cd-application-top-text{
  max-width: 600px;
  text-align: center;

  a{
    color: $primary-color;
  }
}

.cd-form{
  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
  max-width: 765px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 56px;
}

.cd-form-section{

  @include breakpoint(mobile) {
    padding: 0;
  }
}

.cd-form-header{
  background-color: #F1F1F1;
  box-shadow: inset 0 -1px 0 0 #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;


  @include breakpoint(mobile) {
    justify-content: space-around;
  }
}

.cd-form-step{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  cursor: pointer;

  @include breakpoint(mobile) {
    margin: 0;
  }

  span{
    color: #7F7F7F;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;

    @include breakpoint(mobile) {
      font-size: 12px;
    }
  }
}

.cd-active-step{
  
  span{
    color: #1F1F1F;
  }
}

.cd-form-step-number{
  height: 40px;
  width: 40px;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 5px;
}

.cd-form-content{
  padding: 66px 30px 100px;
  min-height: 435px;

  .cd-service-content{
    margin: 0 auto;
  }

  h3{
    margin: 0;
  }

  .cd-service-content{
    padding: 0;
  }

  input[type=checkbox], input[type=radio]{
    margin: 0 10px 0 0;
    height: 20px;
    width: 20px;
    border: 1px solid #B0B0B0;
    border-radius: 2px;
    -webkit-appearance: none;
    padding: 9px;
    display: inline-block;
    position: relative;
    outline: none;
    cursor: pointer;

    &:checked{
      background-color: #5494C0;
      border: 1px solid #5193C2;

      &:after{
        content: 'check';
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        margin: auto;
        right: 0;
        bottom: 0;
        height: 14px;
        width: 14px;
        font-family: 'material icons';
      }
    }
  }

  .wpcf7-checkbox{

    .wpcf7-list-item{
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}

.cd-form-checks{
  margin: 30px 0;

  p{
    margin: 0;
  }
}

.cd-form-step-two, .cd-form-step-three{
  display: none;
}

.cd-form-step-three{

  input{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 15px;
    outline: none;
    transition: 0.2s ease-in-out;

    &:focus{
      border-bottom: 1px solid $primary-color;
    }
  }
  input[type=submit]{
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid $primary-color;
    border-radius: 2px;
    background-color: $primary-color;
    text-align: center;
    padding: 11px 23px;
    display: block;
    transition: 0.2s ease-in-out;
    margin-top: 45px;

    &:hover{
      box-shadow: 0 6px 20px rgba(234, 92, 69, 0.5);
    }
  }
}

.cd-form-content-apply{
  max-width: 505px;
  margin: 0 auto;
}

.cd-form-slider{
  padding: 22px 0 50px;
  display: none;

  p{
    margin: 0;
  }

  .ui-slider-handle .slider-tooltip{
    font-size: 18px;
    border-radius: 5px;
    background-color: #435162;
    padding: 2px 12px;
    top: 30px !important;
    font-family: $medium-font;

    &:after{
      border-color: #435162 transparent;
      border-width: 0 8px 8px;
      left: 0;
      right: 0;
      bottom: 23px;
    }
  }
}

.cd-form-slider-years{
  display: flex;
  justify-content: space-between;
  color: #A7ADB8;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
  font-family: $medium-font;
}

.ui-slider{
  border-radius: 100px;
  border: none;
  background-color: #E1E1E1;
  height: 7px;
}

.ui-slider-handle{
  height: 24px !important;
  width: 24px !important;
  border: 3px solid rgb(74, 144, 226) !important;
  box-sizing: border-box;
  top: -9px !important;

  &:after{
    width: 14px !important;
    height: 14px !important;
    margin-left: 2px !important;
    margin-top: 2px !important;
    background: #4A90E2 !important;
  }
}

.ui-widget-header{
  background: #4A90E2;
}


//Company section -----------------------------------------------

.cd-company-content{
  margin: 0 auto;
  padding: 30px 0 120px;
}


//Contact form section -------------------------------------------

.cd-contact-form-section{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 49vw;
  max-height: 660px;
  height: 100vh;
}

.cd-contact-form{
  background-color: rgba(31,31,31,0.7);
  max-width: 579px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 70px 44px;
  box-sizing: border-box;
  height: 100%;
  position: relative;

  @include breakpoint(small) {
    padding: 60px 20px;
  }

  .wpcf7{
    width: 100%;

    p{
      margin: 0;
    }

    label{
      color: #FFFFFF;
      font-size: 18px;
      letter-spacing: -0.63px;
      line-height: 29px;
    }

    input{
      height: 48px;
      box-sizing: border-box;
      background-color: #E6E6E6;
      width: 100%;
      border: none;
      margin-top: 8px;
      color: #4a4a4a;
      padding: 0 15px;
    }

    .wpcf7-submit{
      border-radius: 5px;
      background-color: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
      color: $blue;
      font-size: 18px;
      line-height: 22px;
      padding: 20px 40px;
      height: auto;
      margin-top: 14px;
      display: inline-block;
      width: auto;
      transition: 0.2s ease-in-out;

      @include breakpoint(small) {
        padding: 12px 20px;
        font-size: 16px;
      }

      &:hover{
        background: $blue;
        text-decoration: none;
        color: white;
      }
    }
  }
  .ajax-loader{
    display: none !important;
  }

  .wpcf7-response-output{
    position: absolute;
    bottom: 20px;
    left: 0;
    margin: auto;
    right: 0;
    width: max-content;
    color: white;
    max-width: 100%;
    font-size: 14px;

    @include breakpoint(small) {
      font-size: 11px;
    }
  }
}

.cd-contact-form-input{
  margin-bottom: 16px;
  position: relative;

  .wpcf7-not-valid-tip{
    position: absolute;
    width: max-content;
    font-size: 12px;
    bottom: -30px;
    line-height: 1;
  }
}


//COMPETENCE SECTION ---------------------------------------

.cd-competence-section{
  background-color: #FAFAFA;
  padding: 83px 0;

  h3{
    margin: 0 auto 42px;
    text-align: center;
    max-width: 651px;

    @include breakpoint(small) {
      text-align: left;
    }
  }
}

.cd-competence-table{
  box-sizing: border-box;
  border: 1px solid #E0E1E2;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  max-width: 781px;
  margin: 0 auto;
}

.cd-competence-table-head{
  display: flex;
  justify-content: space-between;
  background-color: #F4F5F6;
  border-bottom: 1px solid #E0E1E2;
  position: relative;

  a{
    width: 100%;
    text-align: center;
    padding: 14px 0;
    color: #1F1F1F;
    font-size: 18px;
    letter-spacing: -0.63px;
    font-family: $normal-font;
    position: relative;

    @include breakpoint(small) {
      padding: 10px 0;
      font-size: 12px;
    }
  }

  .cd-active-competence-link{
    color: $blue;
  }
}

.cd-competence-table-wrapper{
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
  box-sizing: border-box;
  min-height: 280px;

  @include breakpoint(small) {
    align-items: flex-start;
    padding: 25px 15px;
  }
}

.cd-competence-table-content{
  display: flex;
  align-items: flex-start;
  max-width: 660px;
  justify-content: space-between;

  img{
    max-width: 88px;
    margin-right: 40px;
    margin-top: 15px;

    @include breakpoint(tablet) {
      display: none;
    }
  }
}

.cd-competence-table-right{

  h4{
    color: #000000;
    font-family: $normal-font;
    font-size: 29px;
    letter-spacing: -1.01px;
    line-height: 37px;
    margin: 0 0 16px;
    font-weight: 300;

    @include breakpoint(tablet) {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 10px;
    }
  }

  p{
    color: #1F1F1F;
    font-size: 18px;
    letter-spacing: -0.63px;
    line-height: 25px;
    margin: 0;

    @include breakpoint(tablet) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.cd-active-competence-backr{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 33.3%;
  border-bottom: 1px solid white;
  background: white;
  transition: 0.2s ease-in-out;
}


.cd-qual-content, .cd-expert-content{
  display: none;
}

.cd-padding-top{
  padding-top: 20px;

  h3{
    margin-top: 40px;
  }

  @include breakpoint(mobile) {
    padding: 0;
  }
}

//TEKNIKER --------------------------------------


.cd-tekniker-filter-section{
  background-color: #F6F6F6;
  padding: 48px 0;
}

.cd-tekniker-filter{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

//Mäster kodarens kod

.is-black {
  color: black!important;
}

.codemaster {
  padding: 18px 32px;
  background: #fff;
  border-radius: 5px;
  margin-top: 24px;
  width: 35%;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  font-size: 12px;
  text-transform: uppercase;
  color: black!important;

  @include breakpoint(mobile) {
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 18px 0;
  }
}